<header>
    <mat-toolbar>
        <div matRipple routerLink="/" class="logoHeader">
            <img src="../../assets/iconosPage/logo.png" alt="">
        </div>
        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu Navegación">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="home" routerLinkActive="active" >
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button mat-menu-item routerLink="how" >
                <mat-icon> bubble_chart</mat-icon>
                <span>Second View</span>
            </button>
        </mat-menu>
    </mat-toolbar>
</header>