footer{
    background-color: var(--b2);
    padding: 10px 0px;
    text-align: center;
    .mat-toolbar{
        background-color: var(--b2);
        color:white;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        box-sizing:initial;
        div{
            margin-top:20px;
            span{
                display:block;
                line-height: 0;
                margin:0;
                height: 2px;
            }
            small{
                display: block;
                font-size: 12px;
            }
        }
    }
}