<main>
    <div class="lineSep"></div>  
    <section>
        <article class="cjaInfo" >
            <h2> Reframing Economy</h2>    
            <p>Un trabajo de Wunderman Thompson que busca entender cómo las emociones de los colombianos cambian comportamientos y afectan la intensión</p>
            <a class="btn example-ripple-container" matRipple >Ir al Dashboard</a>
            <div class="subinfo">
                <p>Scroll to explore</p>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
        </article> 
        <div class="lineSep"></div>  
    </section>
    <div class="cjaCruces red der"></div>  
    <section class="flex">
        <div class="min_extend flex" >
            <article class="cjaInfo abs izq" >
                <h2 class="izq"> ¿Que és? </h2>    
                <p class="izq" >Nuestro proyecto busca traquear esas emociones basándonos en el modelo de Robert Plutchik´s, que trabaja con las 8 emociones centrales y cómo su combinación lleva a nuevas emociones.</p>
                <a class="example-ripple-container" matRipple >Ver Teoría</a>
            </article>
        </div> 
        <article class="extend sm-left" >
            <ul class="fondoMorado">
                <li><img src="../../assets/iconosPage/img2.png" alt=""></li>
                <li><img src="../../assets/iconosPage/img3.png" alt=""></li>
            </ul>
        </article> 
        <!-- <div class="example-ripple-container mat-elevation-z4" matRipple> Click me </div> -->
    </section>
    <div class="lineSep lesTop"></div>  
    <div class="cjaCruces red izq"></div>  
    <section class="flex">
        <article class="extend" >
            <div class="fondoColorfull">
                <img src="../../assets/iconosPage/img6.png" alt="">
            </div>
        </article> 
        <div class="min_extend flex" >
            <article class="cjaInfo abs der" >
                <h2 class="der"> ¿Por qué? </h2>    
                <p class="der" >El significado del valor esta cambiando los productos y servicios, basicamente porque ese valor esta siendo dominado por emociones modificando las prioridades y valoraciones de los colombianos.</p>
            </article>
        </div> 
    </section>
    <div class="cjaCruces der"></div>
    <div class="lineSep lesTop more"></div>  
</main>